@charset "UTF-8";

body{
	background-color: #e9e9e9;
}

/* =====================================
		header
===================================== */

header{
	width: 100%;
	height: auto;
	margin-bottom: 30px;
}

div#header_inner{
	width: 900px;
	margin:0 auto;
}

#header_inner h1{
	font-size:180%;
	color:#313131;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 25px;
	margin-bottom: 30px;
	border:1px solid #313131;
	border-radius: 5px;
	letter-spacing: 3px;
	font-weight:400;
	float: left;
	box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}

#header_inner p{
	display: inline-block;
	float: right;
	margin-top: 56px;
	margin-right: 71px;
	border-radius: 24px;
    background-color: white;
    padding: 6px;
}

/*==========================================
			nav
==========================================*/
nav{
	width: 100%;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	margin-bottom: 5px;
	overflow: hidden;
	background-color: #565656;
}
nav ul{
	width: 60%;
	margin: auto;
	list-style: none;
}


nav li{
	width: calc(100% / 4);
	border-left: 1px solid black;
	box-sizing: border-box;
	text-align: center;
	float: left;
	-webkit-box-flex:1;
}

nav.admin ul{
	width: 73%;
}

nav.admin li{
	width: calc(100% / 5);
}

nav li:last-child{
	border-right: 1px solid black;
}
nav a{
	display: block;
	text-decoration: none;
	color:#fff;
	font-size: 110%;
	letter-spacing: 5px;
	font-weight: 400;
	line-height: 45px;
}
nav a:hover{
	background-color: rgba(0,0,86,0.5);
	color: #fff;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}
/* =====================================
		wrapper
===================================== */

div#wrapper{
	width: 900px;
	height: auto;
	margin: 0 auto;
}

#wrapper h2{
	font-size: 24px;
	font-weight: bold;
	border-left: 5px solid #000056;
	padding-left: 10px;
	margin-bottom: 30px;
}

div#errorMessages{
	border-radius: 15px;
	background-color: #c43a3a;
	height: auto;
	width: 600px;
	margin: 0 auto;
}

div#errorMessages ul li{
	font-size: 15px;
	text-align: center;
	padding: 15px 0;
	font-weight: bold;
    color: white;
}

/* =====================================
		form
===================================== */

div.form{
	max-width: 450px;
	background: #FAFAFA;
	padding: 30px;
	margin: 50px auto;
	box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
	border-radius: 10px;
	border: 6px solid #305A72;
}

div.item{
	margin-bottom: 25px;
	min-height: 35px;
}

div.item select{
	display: inline-block;
    padding: 0.25em 0.5em;
    color: black;
    background: #ECECEC;
    border-radius: 0 15px 15px 0;
    margin-left: 56px;
    width: 110px;
    height: 27px;
}

#signup_form select{
	margin-left: 36px;
}

div.item label{
	float: left;
 	margin-right: 20px;
 	width:85px;
 	padding-top: 12px;
 	padding-left: 10px;
}

div.item input{
	float: left;
	width: 200px;
	border-radius:5px;
	padding:10px;
	font-size: 15px;
}

div.submit_btn{
	margin-top: 20px;
	text-align: center;

}

#edit_form, #signup_form, #post_form{
	border: 5px solid #006838;
}

#post_form{
	max-width: 600px;
}

textarea{
	display: block;
	width: 550px;
    height: 110px;
    border-radius:5px;
	padding:10px;
}

#edit_form{
	max-width: 500px;
}

#edit_form div.item label,
#signup_form div.item label{
	width: 112px;
}

#search_form{
	padding: 14px 28px;
	margin: 10p. auto 20px auto;
}

#search_form p{
	display: inline-block;
    border-bottom: 2px solid red;
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 600;
}

#search_form div.item input{
	padding-top: 9px;
}

#search_form div.item input{
	width: 145px;
	float: none;
	padding: 5px;
}

#search_form div.date{
	margin-left: 20px;
}

#search_form div.submit{
	margin-left: 20px;
}

input[type="submit"]{
	display: inline-block;
	font-weight: bold;
	padding: 0.25em 0.5em;
	text-decoration: none;
	color: #000056;
	background: #ECECEC;
	border-radius: 10px;
	transition: .4s;
	cursor: pointer !important;
}

input[type="submit"]:hover{
	background: #000056;
	color: #fff;
}

#deletepost input[type="submit"],
#deletecomment input[type="submit"]{
	color: #c43a3a;
	margin-left: 15px
}

#deletepost input[type="submit"]:hover,
#deletecomment input[type="submit"]:hover{
	color: #fff;
	background: #c43a3a
}

/* =====================================
		home.jsp
===================================== */

div.posts{
	border: 5px solid #565656;
	border-radius: 16px;
	margin-bottom: 10px;
	background-color: #FAFAFA;
}

.posts p{
	white-space: pre-wrap;
	word-wrap: break-word;
}

.text p{
	margin-left: 44px;
	text-align: left;
	line-height: 2;
	color: #333333;
    font-weight: bold;
}

div.post{
	border-bottom: 3px solid #565656;
	padding: 30px;
    box-sizing: border-box;
	margin-bottom: 10px;
	font-size: 17px;
    line-height: 1.3;
}

div.post dl dt{
	margin-bottom: 20px;
}

div.post dl dt.subject{
	color: #734339;
	display: inline-block;
    border-bottom: 2px solid #734339;
}

div.post dl dt span{
	font-weight: 600;
}

div.post dl dd{
	display: inline-block;
	font-size: 15px;
	color: #927e7a;
}

div.post dl dd span{
	font-weight: bold;
}

div.post dl dd.category{
	margin-right: 300px;
}

div.comment{
	display: inline-block;
	height: auto;
	width: 418px;
	padding: 20px;
	margin-left: 415px;
	margin-bottom: 10px;
	background-color: white;
	text-align: left;
	border: 2px solid grey;
	border-radius: 10px;
}

div.comment dl dd{
	display: inline-block;
	font-size: 15px;
    color: #927e7a;
	margin-top: 10px;
}

p.commentText{
	color: #333333;
	font-weight: bold;
}

div.comment_form{
	box-sizing: content-box;
	width: 500px;
    margin-left: 415px;

}

div.comment_form form{
	position: relative;
	margin-left: 80px;
}

div.comment_form textarea{
	width: 250px;
    height: 28px;
}

div.comment_form input[type="submit"]{
	position: absolute;
    top: 20px;
    right: 60px;
}

div#nothing{
	text-align: center;
    padding: 20px;
    font-weight: bold;
}
/* =====================================
		admin.jsp
===================================== */
table{
	width: 900px;
	margin: 0 auto;
	border-bottom: 1px solid #3c6690;
}

table th,table td{
	padding: 10px 0;
 	text-align: center;
}

table th{
  color:white;
  background: linear-gradient(#829ebc,#225588);
  border-left: 1px solid #3c6690;
  border-top: 1px solid #3c6690;
  border-bottom: 1px solid #3c6690;
  box-shadow: 0px 1px 1px rgba(255,255,255,0.3) inset;
}

table td{
	border-left: 1px solid #3c6690;
}

table td:last-child{
	border-right: 1px solid #3c6690;
}

table tr:nth-child(odd){
	background-color: #fff;
}

table tr:nth-child(even){
	background-color: #eee;
}

.table_form{
	margin-left: 0px;
}

.table_form input[type="submit"]{
	color: black;
	font-weight: normal;
}

.table_form input[type="submit"]:hover{
	color: white;
	font-weight: normal;
}


/* =====================================
		footer
===================================== */

footer{
	width: 100%;
	height: 70px;
	background-color: #474747;
	color: #fff;
	text-align: center;
	line-height: 70px;
	margin-top: 30px;
}

.fixed{
	position: fixed;
	bottom: 0;
}

/* =====================================
		common
===================================== */

.clear{
	clear: both;
}

.inline{
	display: inline-block;
}
